<h1>Registration Successful</h1>
<p>Welcome, <%= username %>! Your registration was successful.</p>
<br>
<li><a href="/register">Sign up!!</a></li>
<li><a href="/login">Login</a></li>
<li><a href="/logout">Logout</a></li>